table
  thead
    tr
      th Firstname
      th Lastname
      th Edit
  tbody
    each dat in data
      tr
        td= dat.firstname
        td= dat.lastname
        td #[a(href="edit/#{dat._id}") Edit]

        